.introduction {
  display: flex;
  justify-content: center;
  margin: 100px 50px;
}

.introduction > p {
  text-align: justify;
  max-width: 800px;
  font-size: 50px;
  /*font-family: 'Gloria Hallelujah', cursive;*/
  /*font-family: 'Amatic SC', cursive;*/
  /*font-family: 'Architects Daughter', cursive;*/
  /*font-family: 'Tinos', serif;*/
  /*font-family: 'Playfair Display SC', serif;*/
  font-family: 'Coming Soon', cursive;
}

.introduction > p > .redText {
  color: #EA4533;
  font-family: 'Coming Soon', cursive;
}

.emphasis {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  font-size: 35px;
}

.emphasis > p {
  margin: 5px 0;
}

.careerFocus {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.careerFocus > .careerItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 2px solid #ddd;

}

.careerFocus > .careerItem > .imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 50px auto 25px auto;
}

.careerFocus > .careerItem > .imageWrapper > img {
  width: 75px;
  height: 75px;
}

.careerFocus > .careerItem > .subtitle {
  font-size: 20px;
}

.career {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.career > p {
  text-align: justify;
  max-width: 800px;
  font-size: 50px;
  margin-bottom: 0;
  font-family: 'Coming Soon', cursive;
}

.career > .verticalLine {
  height: 50px;
  border-left: 1px solid #ddd;
  margin: 25px auto;
  /*position:relative;*/
  /*text-align:center;*/
}

.career > .careerEvent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
