.introduction {
  display: flex;
  justify-content: center;
  margin: 100px 50px;
}

.introduction > img {
  display: none;
  margin: auto 5%;
}

@media screen and (min-width: 1100px) {
  .introduction > img {
    display: block;
  }
}

.introduction > p {
  text-align: justify;
  max-width: 800px;
  font-size: 45px;
  font-family: 'Coming Soon', cursive;
}

.introduction > p > .redText {
  color: #EA4533;
  font-family: 'Coming Soon', cursive;
}

.specialTitle {
  font-family: 'Coming Soon', cursive;
  font-size: 35px;
}

.toolHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.toolHeader > p {
  margin: 5px 0;
}

.toolbelt {
  width: 100%;
}

.toolbelt > .toolCategory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 450px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.toolbelt > .toolCategory > .imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 50px auto 25px auto;
}

.toolbelt > .toolCategory > .imageWrapper > img {
  width: 75px;
  height: 75px;
}

.toolbelt > .toolCategory > .subtitle {
  font-size: 30px;
}

.toolbelt > .toolCategory > ul {
  padding: 0;
  font-size: 18px;
  list-style: none;
  margin-bottom: 50px;
}

.educationHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.educationHeader > p {
  margin: 5px 0;
}

.education {
  width: 100%;
}

.education > .educationCategory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 50px 0;
  margin-top: -1px;
  margin-left: -1px;
}

.education > .educationCategory > p {
  font-size: 18px;
}

.education > .educationCategory > .subtitle {
  font-size: 30px;
}

.careerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.careerHeader > p {
  margin: 5px 0;
}

.career {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.career > .eachJob {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.career > .eachJob > .verticalLine {
  height: 50px;
  border-left: 1px solid #ddd;
  margin: 10px auto;
}

.career > .eachJob > .careerEvent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.career > .eachJob > .careerEvent > p:nth-child(1) {
  font-size: 28px;
}

.career > .eachJob > .careerEvent > p:nth-child(2) {
  font-size: 18px;
}

.career > .eachJob > .careerEvent > p:nth-child(3) {
  font-size: 18px;
}


footer {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

footer > .cloud {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

footer > .cloud > img {
  position: relative;
  max-width: 204px;
  min-width: 204px;
}

footer > .cloud > p {
  position: absolute;
  text-align: center;
  font-size: 24px;
  margin-top: 35px;
}

footer > .cloud > p:hover {
  cursor: default;
  color: #EA4533;
  color: -webkit-linear-gradient(top right, #b51111, #eeeeee);
}

@media screen and (max-width: 768px) {
    .toolHeader, .educationHeader, .careerHeader {
      background-color: #ddd;
    }
}

@media screen and (max-width: 999px) {
  .introduction > p {
    font-size: 30px;
  }

  .education > .educationCategory:first-child {
    border-bottom: 1px solid #ddd;
  }

  .career {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .career {
    display: block;
    margin-top: 0;
  }

  .career > .eachJob {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 50px 0;
    margin-top: -1px;
    margin-left: -1px;
  }

  .career > .eachJob > .verticalLine {
    display: none;
  }

  footer {
    justify-content: center;
  }
}
