.largeNav > .largeList > .active {
  border-bottom: 2px solid #EA4533;
}

.smallNav > .smallList > .active {
  font-weight: bold;
  /*border-bottom: 2px solid #000;*/
}

.largeNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.largeList {
  display: none;
  align-items: center;
  list-style: none;
  font-size: 20px;
  margin-top: 80px;
  padding-left: 0;
}

@media screen and (min-width: 700px) {
  .largeList {
    display: inline-flex;
  }
}

.largeList > img {
  margin: 0 50px;
}

.largeList > li {
  border-bottom: 2px solid #fff;
  transition: all 0.25s ease-in;
}

.largeList > li:hover {
  border-bottom: 2px solid #000;
}

.largeList > .firstNavItem {
  margin-right: 50px;
}

.largeList > .lastNavItem {
  margin-left: 50px;
}

.smallNav {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 699px) {
  .smallNav {
    display: flex;
    position: relative;
  }
}

.smallNav > .smallList {
  cursor: default;
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 30px;
  margin: 50px auto;
}

.smallNav > .smallList > li {
  margin-bottom: 10px;
}

.smallNav > .smallList > li:last-child {
  margin-bottom: 0;
}
