.largeNav > .largeList > .active {
  border-bottom: 2px solid #EA4533;
}

.smallNav > .smallList > .active {
  font-weight: bold;
  /*border-bottom: 2px solid #000;*/
}

.largeNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.largeList {
  display: none;
  align-items: center;
  list-style: none;
  font-size: 20px;
  margin-top: 80px;
  padding-left: 0;
}

@media screen and (min-width: 700px) {
  .largeList {
    display: inline-flex;
  }
}

.largeList > img {
  margin: 0 50px;
}

.largeList > li {
  border-bottom: 2px solid #fff;
  transition: all 0.25s ease-in;
}

.largeList > li:hover {
  border-bottom: 2px solid #000;
}

.largeList > .firstNavItem {
  margin-right: 50px;
}

.largeList > .lastNavItem {
  margin-left: 50px;
}

.smallNav {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 699px) {
  .smallNav {
    display: flex;
    position: relative;
  }
}

.smallNav > .sun-div {
  display: flex;
  justify-content: center;
}
.smallNav > .sun-div > .sun1 {
  height: 50px;
  width: 50px;
  margin-top: 50px;
  animation: sunrise1 10s infinite;
  animation-timing-function: linear;
  z-index: -1;
  position: absolute;
}

.smallNav > .sun-div > .sun2 {
  height: 50px;
  width: 50px;
  margin-top: 50px;
  animation: sunrise2 10s infinite;
  animation-timing-function: linear;
  z-index: -1;
  position: absolute;
}

@keyframes sunrise1 {
  0% {
    top: 255px;
    opacity: 0.2;
  }
  80% {
    top: -120px;
    opacity: 1.0;
  }
  100% {
    top: -120px;
    opacity: 1.0;
  }
}

@keyframes sunrise2 {
  0% {
    top: 255px;
    opacity: 1.0;
  }
  80% {
    top: -120px;
    opacity: 0.0;
  }
  100% {
    top: -120px;
    opacity: 0.0;
  }
}

.smallNav > .smallList {
  cursor: default;
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 30px;
  margin: 50px auto;
}

.smallNav > .smallList > li {
  margin-bottom: 10px;
}

.smallNav > .smallList > li:last-child {
  margin-bottom: 0;
}
