.projectHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.projectHeader > p {
  margin: 5px 0;
}

.projectSection {
  width: 100%;
}

.webSection > .eachProject {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 350px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.mobileSection {
  margin-bottom: 100px;
}

.mobileSection > .eachProject {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 200px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  margin-left: -1px;
  margin-bottom: -1px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 25px;
}

.appView {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.appView > .appImage {
  height: 500px;
}

@media screen and (max-width: 999px) {
  .appView > .appImage {
    height: 295px;
  }

  .mobileSection > .eachProject {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.projectSection > .eachProject > .imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 50px auto 25px auto;
}

.projectSection > .eachProject > .imageWrapper > a > img {
  width: 100px;
  height: 100px;
}

.projectSection > .eachProject > .subtitle {
  font-size: 30px;
}

.projectSection > .eachProject > p:last-child {
  text-align: justify;
}

@media screen and (max-width: 768px) {
    .projectHeader {
      background-color: #ddd;
    }
}

.mobileAppsHeader {
  margin-top: 0;
}
