<section class="formSection row">
  <div class="col-xs-1 col-md-2"></div>
  <div class="infoSection col-xs-10 col-md-4">
    <p>Thank you for taking the time to explore my portfolio. If you would like to reach out, you can email me at <a href="mailto:lane.faison@icloud.com">lane.faison@icloud.com</a> or by using the form provided.</p>
    <div class="links">
      <a href="https://www.linkedin.com/in/lanefaison/"><img src="/assets/images/LI.png"></a>
      <a href="https://github.com/lane-faison"><img src="/assets/images/GitHub-Mark.png"></a>
    </div>
  </div>
  <form class="col-xs-10 col-md-4" method="POST" action="http://formspree.io/lane.faison@icloud.com">
    <input type="text" name="name" placeholder="Your name" required>
    <input type="email" name="email" placeholder="Your email" required>
    <input type="text" name="company" placeholder="Company (optional)">
    <textarea name="message" placeholder="Your message"required></textarea>
    <button class="btn btn-success" type="submit">Send</button>
  </form>
  <div class="col-xs-1 col-md-2"></div>
</section>
