<div class="introduction">
  <p>Hello, World! My name is <span class="redText">Lane Faison</span>. I am a Full Stack Web Developer and this is my <span class="redText">portfolio</span>.</p>
</div>
<div class="emphasis">
  <p>My emphasis is in</p>
</div>
<section class="careerFocus">
  <div class="careerItem col-xs-12 col-s-6 col-md-4">
    <div class="imageWrapper">
      <img src="/assets/images/frontend_logo.png" alt="front-end">
    </div>
    <p class="subtitle">Front End Development</p>
  </div>
  <div class="careerItem col-xs-12 col-s-6 col-md-4">
    <div class="imageWrapper">
      <img src="/assets/images/backend_logo.png" alt="front-end">
    </div>
    <p class="subtitle">Back End Development</p>
  </div>
  <div class="careerItem col-xs-12 col-s-6 col-md-4">
    <div class="imageWrapper">
      <img src="/assets/images/creative_logo.png" alt="front-end">
    </div>
    <p class="subtitle">Design</p>
  </div>
</section>
