<div class="introduction">
  <p>Hello, World! My name is <span class="redText">Lane Faison</span>. I am a Full Stack Web Developer and this is my <span class="redText">portfolio</span>.</p>
</div>
<div class="emphasis">
  <p>My favorite technologies</p>
</div>
<section class="careerFocus">
  <div class="careerItem col-xs-12 col-s-6 col-md-4">
    <div class="imageWrapper">
      <img src="/assets/images/frontend_logo.png" alt="front-end">
    </div>
    <p class="subtitle">...on the Front End</p>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>JavaScript</li>
      <li>jQuery</li>
      <li>AngularJS</li>
      <li>Bootstrap</li>
    </ul>
  </div>
  <div class="careerItem col-xs-12 col-s-6 col-md-4">
    <div class="imageWrapper">
      <img src="/assets/images/backend_logo.png" alt="front-end">
    </div>
    <p class="subtitle">...on the Back End</p>
    <ul>
      <li>Node.js</li>
      <li>Express</li>
    </ul>
  </div>
  <div class="careerItem col-xs-12 col-s-6 col-md-4">
    <div class="imageWrapper">
      <img src="/assets/images/creative_logo.png" alt="front-end">
    </div>
    <p class="subtitle">...for Development</p>
    <ul>
      <li>GitHub</li>
      <li>git</li>
      <li>Firebase</li>
      <li>Heroku</li>
      <li>Atom</li>
      <li>Balsamiq</li>
    </ul>
  </div>
  <div class="careerItem col-xs-12 col-s-6 col-md-4">
    <div class="imageWrapper">
      <img src="/assets/images/creative_logo.png" alt="front-end">
    </div>
    <p class="subtitle">...I'm exploring</p>
    <ul>
      <li>Swift</li>
      <li>Angular</li>
      <li>React</li>
    </ul>
  </div>
</section>
<section class="career">
  <p>My career so far</p>
  <span class="verticalLine"></span>
  <div class="careerEvent">
    <p>January 2017 - Present</p>
    <p>Full Stack Web Developer student</p>
    <p>galvanize, Inc.</p>
  </div>
  <span class="verticalLine"></span>
  <div class="careerEvent">
    <p>June 2015 - January 2017</p>
    <p>Sr. Technical Recruiter</p>
    <p>Talent Navigation Experts</p>
  </div>
  <span class="verticalLine"></span>
  <div class="careerEvent">
    <p>December 2013 - March 2015</p>
    <p>Ski Instructor</p>
    <p>Vail Resorts</p>
  </div>
  <span class="verticalLine"></span>
  <div class="careerEvent">
    <p>March 2008 - January 2012</p>
    <p>Sergeant</p>
    <p>United States Marine Corps</p>
  </div>
</section>
