<div class="largeNav">
  <ul class="largeList">
    <li class="firstNavItem" ui-sref="home">STORY</li>
    <li>PROJECTS</li>
    <img src="/assets/images/mountains.png" alt="">
    <li ui-sref="resume">RESUME</li>
    <li class="lastNavItem" ui-sref="contact">CONTACT</li>
  </ul>
</div>

<div class="smallNav">
  <img class="sun" src="/assets/images/sun.png" alt="">
  <ul class="smallList">
    <li ui-sref="home">STORY</li>
    <li>PROJECTS</li>
    <li ui-sref="resume">RESUME</li>
    <li ui-sref="contact">CONTACT</li>
  </ul>
  <img src="/assets/images/mountains.png" alt="">
</div>
