<div class="projectHeader">
  <p class="specialTitle">iOS Apps</p>
</div>
<section class="projectSection row mobileSection">
  <div ng-repeat="project in $ctrl.mobileProjects" class="eachProject col-xs-12 col-sm-12 col-md-12" ng-init="parent=$parent">
    <p class="subtitle">{{ project.title }}</p>
    <p>{{ project.description }}</p>
    <div class="app-links-div">
      <a class="link1" href="{{ project.project_url }}"><img class="github-mobile-logo" src="/assets/images/GitHub-Mark.png" alt="GitHub logo"></a>
      <a  class="link2" href="{{ project.app_store_url }}"><img class="app-store-icon" src="/assets/images/App_Store_icon.png"></a>
      <a  class="link3" href="{{ project.app_store_url }}"><img class ="app-icon" src="{{ project.app_icon_url }}"></a>
    </div>
    <div class="iOS-imageWrapper">
      <img src="{{ project.image_url }}">
    </div>
  </div>
</section>

<div class="projectHeader webAppsHeader">
  <p class="specialTitle">Web Apps</p>
</div>
<section class="projectSection row webSection">
  <div ng-repeat="project in $ctrl.webProjects" class="eachProject col-xs-12 col-sm-6 col-md-4">
    <div class="imageWrapper">
      <a href="{{ project.project_url }}"><img src="{{ project.image_url }}"></a>
    </div>
    <p class="subtitle">{{ project.title }}</p>
    <p>{{ project.description }}</p>
  </div>
</section>

<div class="bottom-fade"></div>
