
<div class="projectHeader">
  <p class="specialTitle">Web Apps</p>
</div>
<section class="projectSection row webSection">
  <div ng-repeat="project in $ctrl.webProjects" class="eachProject col-xs-12 col-sm-6 col-md-4">
    <div class="imageWrapper">
      <a href="{{ project.project_url }}"><img src="{{ project.image_url }}"></a>
    </div>
    <p class="subtitle">{{ project.title }}</p>
    <p>{{ project.description }}</p>
  </div>
</section>

<div class="projectHeader mobileAppsHeader">
  <p class="specialTitle">iOS Apps</p>
</div>
<section class="projectSection row mobileSection">
  <div ng-repeat="project in $ctrl.mobileProjects" class="eachProject col-xs-12 col-sm-12 col-md-12" ng-init="parent=$parent">
    <p class="subtitle">{{ project.title }}</p>
    <p>{{ project.description }}</p>
    <div class="iOS-imageWrapper">
      <a href="{{ project.project_url }}"><img src="{{ project.image_url }}"></a>
    </div>
  </div>
</section>

<div class="bottom-fade"></div>
